*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: linear-gradient(to right top, #eae5ec, #cfbee9, #bb7fdf, #8635e2, #6512eb) ;

}

h1 {
    text-align: center;
    margin-bottom: 45px;
    color: white;
    font-size: 40px;

}
form{
    background: none;
    width: 850px;
    height: 500px;
    padding: 75px 50px;
    position: absolute;
    left: 900px;
    top: 500px;
    transform: translate(-50%, -50%);
}
.navbar input{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 30px;
    font-size: 20px;
}
